A9/eleccions.dtd

<!ELEMENT eleccions (descripcio, dades, resultats)>
<!ELEMENT descripcio (#PCDATA)>
<!ELEMENT dades (data, alumnes, abstencio, blancs)>
<!ELEMENT resultats (candidat+)>
<!ELEMENT candidat (nom, vots)>
<!ELEMENT descripcio (#PCDATA)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT alumnes (#PCDATA)>
<!ELEMENT abstencio (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT vots (#PCDATA)>
